/* You can add global styles to this file, and also import other style files */
.mouse-hover{
    cursor: pointer;
}
.success-message {
    color: #155724; /* Text color for success message */
    background-color: #d4edda; /* Background color for success message */
    border-color: #c3e6cb; /* Border color for success message */
    padding: 10px; /* Padding for the message */
    margin-top: 10px; /* Top margin for the message */
    border-radius: 5px; /* Border radius for rounded corners */
    font-size: smaller;
    top: 20px;
  }